<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Columbia Admirers | ;)</title>
    <!--<link rel="stylesheet" href="../static/css/foundation.css" />-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">


    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>
<body>


<!-- post modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">New Post</h3>
		</div>
		<div class="modal-body">

            <!-- content goes here -->
            <form method="post" action="/post" id="post_form">
                <textarea rows="6" name="post_body" placeholder="Let us hear who you admire! (You can use '#' to tag ideas and '@' to tag unis)" ></textarea>
                {% if not current_user.is_authenticated %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" disabled checked name="is_anonymous"> Post Anonymously?
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" disabled name="allow_guesses"> Allow 3 Guesses  (Login to use this feature!)
                    </label>
                </div>
                {% else %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked name="is_anonymous"> Post Anonymously?
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="allow_guesses"> Allow 3 Guesses (This will allow the person you tag to try and guess your uni, if they do, you will both be emailed about it! Must tag user with @UNI in the post for it to work)
                    </label>
                </div>
                {% endif %}

                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                        </div>
                        <div class="btn-group btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Cancel</button>
                        </div>
                        <div class="btn-group">
                            <button type="submit" id="post_button" class="btn btn-default btn-hover-green" onclick="$('#post_form').get(0).submit();" >Post</button>
                        </div>
                    </div>
                </div>
            </form>

		</div>

	</div>
  </div>
</div>

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form" action="/login" method="POST">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your CU email and password.</span>
                        </div>
                        <input id="login_username" class="form-control" name="email" type="email" placeholder="Columbia Email" required>
                        <input id="login_password" class="form-control" name="password" type="password" placeholder="Password" required>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->

                <!-- Begin | Register Form -->
                <form id="register-form" method="post" action="/register" style="display:none;">
                    <div class="modal-body">
                        <div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
                        <input id="register_first_name" name="first_name" class="form-control" type="text" placeholder="First Name" required>
                        <input id="register_last_name" name="last_name" class="form-control" type="text" placeholder="Last Name" required>
                        <input id="register_email" name="email" class="form-control" type="text" placeholder="Columbia email with uni" required>
                        <input id="register_password" name="password" class="form-control" type="password" placeholder="Password" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div style="width:50%"><h1>CU Admirers</h1></div>

            <p class="" style="width:40%; float:right;"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a></p>
            <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Post</button></div>

        </div>
    </div>
</div>

<div class="row">


    <div class="large-3 columns ">
        <div class="panel">
            <a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
            <h5><a href="#">Your Name</a></h5>
            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                <section class="section">
                    {% if current_user.is_authenticated %}
                         Hi {{ current_user.first_name }}!
                    {% else %}
                        Not logged in
                    {% endif %}
                </section>
                {% if current_user.is_authenticated %}
                     <section class="section">
                        <h5 class="title"><a href="/logout">Logout</a></h5>
                    </section>
                {% else %}

                {% endif %}
                <section class="section">
                    <h5 class="title"><a href="#">Section 2</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Section 3</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Section 4</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Section 5</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Section 6</a></h5>
                </section>
            </div>

        </div>
    </div>



    <div class="large-9 columns">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group" id="adv-search">
                        <input type="text" name="search_text" id="search_text" style="height:2.38em;" class="form-control" placeholder="Search posts" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <form id="search_form" class="form-horizontal" method="post" action="/search">
                                            <div class="form-group">
                                                <label for="contain">ID</label>
                                                <input class="form-control" name="post_id" type="text" placeholder="eg: 3" />
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Contains the words</label>
                                                <input class="form-control" name="contains" type="text" placeholder="eg: hot"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Uni</label>
                                                <input class="form-control" name="tagged" type="text" placeholder="eg: abc1234"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Tags</label>
                                                <input class="form-control" name="tags" type="text" placeholder="eg: butler"/>
                                            </div>
                                            <button type="submit" onclick="$('#search_form').get(0).submit();" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </form>
                                    </div>
                                </div>
                                <button onclick="submit_search()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>-->
        <hr/>
        {% for post in posts %}
            <div class="container">
            <div class="col-sm-8">
                <div class="panel panel-white post panel-shadow" style="background:white">
                    <div class="post-heading">
                        <!--<div class="pull-left image">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                        </div>-->
                        <div class="pull-left meta">
                            <div class="title h5">
                                <a href="#"><b>{{ post.poster }}</b></a>
                                made a post.
                            </div>
                            <h6 class="text-muted time">{{ post.post_created }}</h6>
                        </div>
                        <div class="pull-right meta">
                            <div class="title h5">
                                <h6 class="text-muted time">{{ post.pid }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>{{ post.post_body }}</p>
                        <div class="stats">
                            <a href="/like?pid={{ post.pid }}" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i>{{ post.like_count }}
                            </a>
                            <a href="#" class="btn btn-default stat-item">
                                <i class="fa fa-share icon"></i>
                            </a>


                        </div>
                    </div>
                    <div class="post-footer">
                        {% if post.display_guess %}
                        <div class="input-group">

                            <input class="form-control"  id="guess_input{{ post.pid }}" style="z-index:1" placeholder="You've been tagged! You've got {{ post.remaining}} guesses left to try and match ;)" type="text">

                            <span class="input-group-addon">
                                <a title="Click here to submit a guess" onclick="sendGuess({{ post.pid }})">
                                    <div class="stacked-icons">
                                      <span class="fa-stack" style="height:1.7em">
                                        <i class="fa fa-heart-o fa-stack-2x text-danger"></i>
                                        <strong class="fa-stack calendar-text">{{ post.remaining }}</strong>
                                      </span>
                                    </div>
                                    </a>
                            </span>

                        </div>
                        <hr/>
                        {% endif %}

                        <div class="input-group">

                            <input class="form-control"  id="comment_input{{ post.pid }}" style="z-index:1" placeholder="Add a comment" type="text">

                            <span class="input-group-addon">
                                <a onclick="sendComment({{post.pid}})"><i class="fa fa-edit"></i></a>
                            </span>

                        </div>
                        <ul class="comments-list">
                            {% for comment in post.comments %}
                            <li class="comment">
                                <!--<a class="pull-left" href="#">
                                    <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                                </a>-->
                                <div class="comment-body" style="margin-left:20px;">
                                    <div class="comment-heading">
                                        <h4 class="user">Gavino Free</h4>
                                        <h5 class="time">{{ comment.comment_created }}</h5>
                                    </div>
                                    <p>{{ comment.comment_body }}</p>
                                </div>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>



    <!--<aside class="large-3 columns hide-for-small">
      <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
      <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
    </aside>-->

</div>




<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-7 columns">
                <ul class="inline-list right">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>
                    <li><a href="#">Section 5</a></li>
                    <li><a href="#">Section 6</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



</body>
</html>
