{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="input-group" id="adv-search">
                    <input type="text" name="search_text" id="search_text" style="height:2.38em;" class="form-control" placeholder="Search posts" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form id="search_form" class="form-horizontal" method="post" action="/search">
                                        <div class="form-group">
                                            <label for="contain">Post ID</label>
                                            <input class="form-control" name="post_id" type="text" placeholder="eg: 3" />
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Contains the words</label>
                                            <input class="form-control" name="contains" type="text" placeholder="eg: hot"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Uni</label>
                                            <input class="form-control" name="tagged" type="text" placeholder="eg: abc1234"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="contain">Tags</label>
                                            <input class="form-control" name="tags" type="text" placeholder="eg: butler"/>
                                        </div>
                                        <button type="submit" onclick="$('#search_form').get(0).submit();" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button onclick="submit_search()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <hr/>
    {% for post in posts %}
    <div class="container">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow" style="background:white">
                <div class="post-heading">
                    <!--<div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>-->
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ post.poster }}</b></a>
                            posted
                        </div>
                        <h6 class="text-muted time">{{ post.post_created }}</h6>
                    </div>
                    <div class="pull-right meta">
                        <div class="title h5">
                            <h6 class="text-muted time">{{ post.pid }}</h6>
                        </div>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{ post.post_body|safe }}</p>
                    <div class="stats">
                        {% if current_user.is_authenticated %}
                            <a href="/like?pid={{ post.pid }}" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i>{{ post.like_count if post.like_count != None else 0 }}
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-default disabled stat-item">
                                <i class="fa fa-thumbs-up icon"></i>{{ post.like_count if post.like_count != None else 0 }}
                            </a>
                        {% endif %}
                        <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-share icon"></i>
                        </a>


                    </div>
                </div>
                <div class="post-footer">
                    {% if post.display_guess %}
                    <div class="input-group">
                        {% if post.remaining > 0 %}
                        <input class="form-control"  id="guess_input{{ post.pid }}" style="z-index:1" placeholder="You've been tagged! You've got {{ post.remaining}} guesses left to try and match ;)" type="text">

                            <span class="input-group-addon">
                                <a title="Click here to submit a guess" onclick="sendGuess({{ post.pid }})">
                                    <div class="stacked-icons">
                                      <span class="fa-stack" style="height:1.7em">
                                        <i class="fa fa-heart-o fa-stack-2x text-danger"></i>
                                        <strong class="fa-stack calendar-text">{{ post.remaining }}</strong>
                                      </span>
                                    </div>
                                </a>
                            </span>
                        {% else %}
                            <input class="form-control"  id="guess_input{{ post.pid }}" style="z-index:1" disabled placeholder="No more guesses remaining...:(" type="text">

                            <span class="input-group-addon">
                                <a href="#" title="Click here to submit a guess">
                                    <div class="stacked-icons">
                                      <span class="fa-stack" style="height:1.7em">
                                        <i class="fa fa-heart-o fa-stack-2x text-danger"></i>
                                        <strong class="fa-stack calendar-text">{{ post.remaining }}</strong>
                                      </span>
                                    </div>
                                </a>
                            </span>
                        {% endif %}

                    </div>
                    <hr/>
                    {% endif %}

                    <div class="input-group">

                        <input class="form-control"  id="comment_input{{ post.pid }}" style="z-index:1" placeholder="Add a comment" type="text">

                            <span class="input-group-addon">
                                <a onclick="sendComment({{post.pid}})"><i class="fa fa-edit"></i></a>
                            </span>

                    </div>
                    <ul class="comments-list">
                        {% for comment in post.comments %}
                        <li class="comment">
                            <!--<a class="pull-left" href="#">
                                <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                            </a>-->
                            <div class="comment-body" style="margin-left:20px;">
                                <div class="comment-heading">
                                    <h4 class="user">Gavino Free</h4>
                                    <h5 class="time">{{ comment.comment_created }}</h5>
                                </div>
                                <p>{{ comment.comment_body }}</p>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}