<div class="large-3 columns ">
        <div class="panel">
            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                <section class="section">
                    {% if current_user.is_authenticated %}
                         Hi {{ current_user.first_name }}!
                    {% else %}
                        <a href="#" class="" role="button" data-toggle="modal" data-target="#login-modal">Login</a>
                    {% endif %}
                </section>
                {% if current_user.is_authenticated %}
                     <section class="section">
                        <h5 class="title"><a href="/logout">Logout</a></h5>
                    </section>
                {% else %}

                {% endif %}
                <section class="section">
                    <h5 class="title"><a href="/">Home</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="/faqs">FAQs</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Posts about you</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="/own_posts">Your public posts</a></h5>
                </section>
            </div>

        </div>
    </div>