<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <div style="width:50%"><h1>CU Admirers</h1></div>

            <p class="" style="width:40%; float:right;"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Open Login Modal</a></p>
            <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Post</button></div>

        </div>
    </div>
</div>